.logo h1 {
	font-family: Impact, Haettenschweiler, 'Arial Narrow bold', sans-serif;
	font-size: 1.5em;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex: 1;
}

.max-800px {
	max-width: 800px;
}
/*
.navbar-item img {
	max-height: 150px !important;
}
*/

.box.product {
	box-shadow: none;
}

/* list.html */

.product-column .image {
	height: 200px !important;
}

.product-column .image img {
	height: 100%;
	object-fit: contain;
}

.product-column {
	display: flex;
}

.product-title {
	padding: .5em 0;
}

.menu a.is-active {
	background-color: #da2d2d !important;
	color: white !important;
}


/* single product */

.product figure {
	margin-bottom: 2em !important;
}

/* main index.html */


.hero-home {
	background: url(/images/cover.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.button.special {
	color: white;
	background-color: #da2d2d ;
}

.navbar-item:hover {
	background-color: rgba(0, 0, 0, 0) !important;
}

.hero-content {
	background-color: #da2d2d;
	padding-top: 3em !important;
	padding-bottom: 3em !important;
	padding-left: 1.5em !important;
	padding-right: 1.5em !important;
}

.hero-content h1, .hero-content h2 {
	color: white;
}

