.logo h1 {
	font-family: Impact, Haettenschweiler, 'Arial Narrow bold', sans-serif;
	font-size: 1.5em;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex: 1;
}

.max-800px {
	max-width: 800px;
}

.navbar-item img {
	max-height: 200px !important;
}

.product-container img {
	width: 100% !important;	
}

.product {
	margin-top: auto;
}
