.logo h1 {
	font-family: Impact, Haettenschweiler, 'Arial Narrow bold', sans-serif;
	font-size: 1.5em;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex: 1;
}

.max-800px {
	max-width: 800px;
}

.navbar-item img {
	max-height: 200px !important;
}

.box.product {
	box-shadow: none;
}

/* list.html */

.product-column .image {
	height: 250px !important;
}

.product-column .image img {
	height: 100%;
	object-fit: cover;
}

.product-column {
	display: flex;
}

.product-title {
	padding: .5em 0;
}

/* main index.html */


.main-hero {
	background: 
	linear-gradient(
		125deg, 
		#9d0b0b,
		#9d0b0b 60%,
		#da2d2d 60%,
		#da2d2d 80%,
		#eb8242 80%,
		#eb8242 95%,
		#f6da63 95%
	);
}

.main-hero h1, .main-hero h2 {
	color: white !important;
}

.button.special {
	color: white;
	background-color: #da2d2d ;
}