{{ define "main" }}
<section class="hero is-medium main-hero">
	<div class="hero-body">
		<div class="container">
			<h1 class="title">ISTAROSA INT’L CO. LTD</h1>
			<h2 class="subtitle">Leading enterprise engaged in beauty and hair care products</h2>
		</div>		
	</div>	
</section>
<section class="section">
	<div class="container">
		<p>
			ISTAROSA INT’L CO. LTD., belongs to TRANWIN INT’L GROUP, operating since 1986. We shop worldwide.
		</p>
		<p>
			We are one of the leading enterprises engaged in the various BEAUTY and HAIR CARE PRODUCTS. With stable quality, our products are well received by all of our customers around the world.
		</p>
		<p>
			We are willing to build up business relationships with our customers on the mutual benefits, certainly will also receive our prompt and professional services at all times.
		</p>
		<p class="has-text-weight-bold">
			Contact us today for further details on how we can be of service to You and Your company needs.
		</p>
	</div>
</section>
{{ end }}
