{{ define "main"}}
<div class="container">
	<div class="section">
		<div class="content">
			{{ $cols := 4 }}
			{{ $page_total := len .Pages }}

			{{ range $i, $e:= .Pages.ByDate.Reverse }}
				{{ if (eq (mod $i $cols) 0) }}
					<div class="columns">
				{{ end }}
				<div class="column is-one-quarter">
					<a href="{{ .Permalink }}">
						<div class="product-container">
							<figure class="image">
							{{ with .Params.images }}
								<img src="{{ index . 0 }}" width="75%">
							{{ end }}
							</figure>
							<span class="tag is-black">No. {{ .Params.itemno }}</span>
							<h1 class="title is-6 has-text-centered">{{ .Title }}</h1>
						</div>
					</a>
				</div>
				{{ if (eq (mod $i $cols) (sub $cols 1)) }}
					</div>
				{{ end }}

			{{ end }}
		</div>
	</div>
</div>
{{ end }}