{{ define "main" }}
<div class="section">
	<section class="container">
		<article>
			<div class="columns is-centered">
				<div class="column is-one-third">
					<div class="content">
						{{ range $.Param "images"}}
						<figure class=image>
							<img src="{{ . }}">
						</figure>
						{{ end }}
					</div>
				</div>
				<div class="column">
					<h1 class="title is-4">{{ .Title }}</h1>
					<div class="block">
						{{ .Content }}
					</div>
				</div>
			</div>
		</article>
	</section>
</div>
{{ end }}