<header>
	<nav class="navbar" role="navigation">
		<div class="container">
			<div class="navbar-brand">
				<a href="/" title="home" class="navbar-item">
					<img src="/images/header.png" width="125">
				</a>
				<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
				  <span aria-hidden="true"></span>
				  <span aria-hidden="true"></span>
				  <span aria-hidden="true"></span>
				</a>
			</div>
			<div class="navbar-menu">
				<div class="navbar-start">
					{{ range .Site.Menus.main.ByWeight }}
					<a href="{{ .URL }}" class="navbar-item">{{ .Name }}</a>
					{{ end }}
				</div>
				<div class="navbar-end">					
					{{ range .Site.Menus.special }}
					<div class=navbar-item>
						<field>
							<div class="field">
							    <p class="control">
							      <a id="contact-button" class="button is-rounded" href="{{ .URL }}">
							        <span>{{ .Name }}</span>
							      </a>
							    </p>
							  </div>
						</field>
					</div>
					{{ end }}
				</div>
			</div>
		</div>
	</nav>
	<script>
		$(document).ready(function () {
			$(".navbar-burger").click(function () {
				$(".navbar-burger").toggleClass("is-active");
				$(".navbar-menu").toggleClass("is-active");
			})
		})
	</script>
</header>